.landing-container {
  width: 100vw;
  height: 100vh;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://cdn.wallpapersafari.com/60/5/MgWFCX.jpg' );
  background-size: cover;
}


.intro-text {
  color: #ff312e;
  font-weight: bold;
  background-color: #19191a;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 12px 12px 2px 1px black;

}

.shop-now-btn {
  width: 250px;
  height: 35px;
  border-radius: 10%;
  border: 2px solid white;
  background-color: #19191a;
  color: white;
  font-size: large;
}

.shop-now-btn:hover {
  cursor: pointer;
  color: #ffd300;
  border: 3px solid #ffd300;
}

@media (max-width: 938px) {
  .intro-text {
    right: 20%
  }
}

@media (max-width: 728px) {
  .intro-text {
    right: 15%
  }
}

@media (max-width: 676px) {
  .intro-text {
    right: 5%
  }
}