

.product {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  height: 30%;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

.product-img {
  width: 100%;
  max-height: 70%;
}

.add-to-cart-btn {
  width: 250px;
  height: 35px;
  border-radius: 10%;
  border: 2px solid white;
  background-color: #19191a;
  color: white;
  font-size: large;
}

.add-to-cart-btn:hover {
  cursor: pointer;
  color: #fb8b24;
  border: 3px solid #fb8b24;
}