.beach-img {
  width: 100vw;
  height: 100vh;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://www.jetsetter.com//uploads/sites/7/2019/10/vH0BLDMG-1380x690.jpg');
  background-size: cover;
  flex-direction: column;
}

.login-greeting {
  display: flex;
  background-color: #19191a;
  color:#fb8b24;
  box-shadow: 12px 12px 2px 1px black;
}

.login-inputs {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 30vh;
  align-items: center;
}

.login-input {
  width: 300px;
  height: 30px;
  border: 2px solid black;
  border-radius: 4px;
  background-color: #19191a;
  color: white;
  font-weight: bold;
  /* box-shadow: 10px 5px 5px black; */
  box-shadow: 12px 12px 2px 1px black;
}

.login-button {
  width: 250px;
  height: 35px;
  border-radius: 10%;
  border: 2px solid white;
  background-color: #19191a;
  color: white;
  font-size: large;
  /* box-shadow: 10px 5px 5px black; */
  box-shadow: 12px 12px 2px 1px black;
}

.login-button:hover {
  cursor: pointer;
  color: #fb8b24;
  border: 3px solid #fb8b24;
}

