.nav {
  width: 100vw;
  height: 25%;
  display: flex;
  background-color: #19191a;
  color: white;
}

.menu-img {
  display: none;
}

.nav-links {
  display: flex;
  flex-direction: row;
  width: 50vw; 
  justify-content: space-between;
  padding-left: 20%;
}

.links {
  color: white;
  text-decoration: none;
  z-index: 10;
}

.ape-link:hover {
  font-size: large;
  color: #70e000;
  font-weight: bold;
  cursor: crosshair;
}
.mens-link:hover {
  font-size: large;
  color: #fb8b24;
  font-weight: bold;
}
.womens-link:hover {
  font-size: large;
  color: #be0aff;
  font-weight: bold;
}
.kids-link:hover {
  font-size: large;
  color: #0aefff;
  font-weight: bold;
}
.surf-link:hover {
  font-size: large;
  color: #147df5;
  font-weight: bold;
}
.snow-link:hover {
  font-size: large;
  color: #ffd300;
  font-weight: bold;
}
.sale-link:hover {
  font-size: large;
  color: #ff0000;
  font-weight: bold;
}
.login-link:hover {
  font-size: large;
  color: #70e000;
  font-weight: bold;
}
.sign-up-link:hover {
  font-size: large;
  color: #0aefff;
  font-weight: bold;
}

.brand-name-with-logo {
  display: flex;
  flex-direction: column;
}

.Logo {
  width: 100px;
  padding: 10px 0 0 20px;
}

.Logo:hover {
  cursor: pointer;
}

.brand-name {
  z-index: 10;
  display: flex;
  justify-content: center;
  padding-left: 50%;
}



.search {
  position: absolute;
  top: 80px;
  right: 50px;
  width: 300px;
  height: 120px;
}

.search-input {
  width: 150px;
  height: 25px;
  border: 2px solid white;
  border-radius: 4px;
  background-color: #19191a;
  font-weight: bold;
  color: white;
}

.search-btn {
  height: 30px;
  width: 70px;
  background-color: #0b090a;
  color: white;
  border-radius: 10%;
  border: 2px solid white;
}

.search-btn:hover {
  cursor: pointer;
  color:#fb8b24;
  border: 3px solid #fb8b24;
}

.cart-img {
  width: 1.5em;
  height: 1.5em;
  padding-left: 20px;
}

.cart-img:hover {
  cursor: pointer;
}

.search-and-login {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding-left: 170px;
}

.login-sign-up {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 40%;
}

@media (max-width: 1186px) {
  .nav-links {
    width: 40vw;
  }
}

@media (max-width: 918px) {
  .nav-links {
    display: none;
  }
  .login-link {
    display: none;
  }
  .sign-up-link {
    display: none;
  }
  .links {
    display: none;
  }
  .login-sign-up {
    display: none;
  }
  p {
    display: none;
  }
  .search-btn {
    display: none;
  }
  .search-input {
    display: none;
  }
  .search-and-login {
    display: none;
  }
  .ape-link {
    display: block;
    justify-content: center;
    align-items: center;
    width: 40vw;
  }
  .menu-img {
    display: block;
    width: 75px;
    height: 75px;
    margin: 1% 0 0 30%
    
  }
}
@media (max-width: 746px) {
  .menu-img {
    margin: 1% 0 0 20%;
  }
}

@media (max-width: 520px) {
  .menu-img {
    margin: 1% 0 0 10%;
  }
}
